.photo-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 75%;
  width: 70%;
  overflow-y: scroll;
  border-radius: 12px;
}

.photo-details-modal__close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
}

.photo-details-modal_image-holder {
  display: flex;
  justify-content: center; 
}

.photo-details-modal__image {
  max-width: 70%;
  margin: 0 20px;
}

.photo-details-modal__top-bar ul.photo-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 0fr));
    gap: 8px;
    list-style-type: none;
    margin: 0 0 20px 20px;
    padding: 0;
}



.photo-details-modal__photographer-details {
  display: flex;
  width: 95%;
  font-size: 16px;
  padding-bottom: 24px;
  margin: 20px;
  border-bottom: solid 1px #d2d2d2;
}

.photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin: 25px 0 0 25px;
  width: 90%;
}

.photo-details-modal__photographer-location {
  color: #838383;
  margin-left: 8px;
  font-size: 12px;
}
.photo-details-modal__photographer-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 60px;
  height: 60px;
}

.photo-details-modal__photographer-info {
  margin-top: 5px;
  font-weight: 700;
  font-size: 12px;
  margin-left: 8px;
}